<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <title>Game Ranking</title>
  </head>
  <body>
    <div class="firstPageContainer">
      <h1 class="firstPageTitle">Game Ranking</h1>
      <p class="firstPageText">
        Hello, welcome to Game Ranking. This is a web application project where
        the user can create a ranking table for their favorite games. The
        development of this project aims to demonstrate data persistence through
        a database.
      </p>
      <a class="startButton" href="ranking">Start</a>
    </div>
  </body>
</html>
